:root {
    font-size: 16px;
    --blue: #0D6EFD;
    --gold: #ffc107;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    background-color: var(--blue);
    padding: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    color: white;
}

.header-text-container {
    max-width: 1024px;
}

.header-headline {
    margin-bottom: 1rem;
}

.footer {
    padding: 1rem;
    background-color: var(--blue);
    text-align: center;
    color: white;
}

.formula-description {
    font-size: 1rem;
}

.formula {
    font-size: 1.5rem;
}

#result {
    display: none;
    width: 100%;
    margin-bottom: 2rem;
    background-color: var(--light-bg);
    border: 1px solid var(--gray-border);
    padding: 1rem;
    border-radius: var(--border-radius);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    text-align: center;
    color: var(--text-dark);
}

#result h2 {
    color: var(--blue);
}

footer p {
    margin-bottom: .5rem;
}

.external-link {
    text-decoration: none;
    font-weight: 600;
    color: var(--gold);
}

@media (max-width: 580px){
    footer p {
        font-size: .75rem;
    }
}

